</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="social-media">
      <a class="social" href="https://github.com/adityaajay29" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github fa-2x"></i></a>
      <a class="social" href="https://www.linkedin.com/in/aditya-ajay2662/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a class="social" href="https://www.instagram.com/aditya__ajay/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram-square fa-2x"></i></a>
      <a class="social" href="https://twitter.com/AdityaAjay17" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter fa-2x"></i></a>
    </div>
    <p>Made with <i class="fa-regular fa-heart"></i> by Aditya Ajay</p>
  </div>
</div>
</body>
</html>
