<%- include("partials/header"); -%>

<h1>Contact</h1>
<p><%=contactContent%></p>
<li>
    email : <a href="mailto:adityaajay20142662@gmail.com" class="contact-content">adityaajay20142662@gmail.com</a>
</li>
<li>
    linkedIn : <a href="https://www.linkedin.com/in/aditya-ajay2662/" class="contact-content">Aditya Ajay</a>
</li>

<%- include("partials/footer"); -%>