body
{
    background-color: #1B2430;
    color: white;
}
p
{
    font-size: 20px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-default
{
    background-color: #D6D5A8;
}

.navbar-nav  li a:hover {
    color: #E7AB79 !important;
}

.footer-padding {
    padding-top: 60px;
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #E7AB79;
}

.footer p {
	margin-top: 18px;
	font-size: 12px;
    color: #1B2430;
}

.mb-3
{
    margin-bottom: 2rem;
}

.contact-content
{
    color: #FFDCAE;
}
.social-media
{
    padding-top: 0.5rem;
}

.social
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media only screen and (min-width : 768px){
    
}